<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="/css/styles2.css">
</head>
<body>
    <div class="container">
        <h2>Create Account</h2>
        <form id="registerForm" action="/register" method="POST">
            <input type="text" name="name" placeholder="Full name" required>
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            <button type="submit">Register</button>
        </form>
        <p>Do you already have an account?  <a href="/">Log In</a></p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <% if (typeof alert != "undefined")  { %>
         <script>
         Swal.fire({
           title:'<%= alertTitle %>',
           text:'<%= alertMessage %>',
           icon:'<%= alertIcon %>',
           showConfirmButton: <%= showConfirmButton %>,
           timer: <%= timer %>
         }).then(()=>{
           window.location='/<%= ruta %>'
         })
         </script>
    <% } %>

    <script>
        function validatePasswords() {
            var password = document.getElementById("password").value;
            var confirm_password = document.getElementById("confirm_password").value;

            if (password !== confirm_password) {
                alert("The passwords do not match");
                return false; // Prevents the form from being submitted if the passwords do not match
            }
            return true; // Allows the form to be submitted if the passwords match
        }
    </script>
</body>
</html>